@model IEnumerable<DailyBlogger.Models.BlogPost>
@{ 
    Layout = null;
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>list of blog posts</title>
</head>
<body>
    @foreach (var item in Model)
    {
        <div>
            @Html.DisplayFor(m => item.blogTitle);
        <p>@Html.DisplayFor(m => item.content);</p>
        <p>@Html.DisplayFor(m => item.blogDate);</p>
        </div>
    }
</body>
</html>