@{
    ViewData["Title"] = "Home Page";
}


<div class="art-postcontent art-postcontent-0 clearfix">
    <div class="art-content-layout-wrapper layout-item-0">
        <div class="art-content-layout layout-item-1">
            <div class="art-content-layout-row">
                <div class="art-layout-cell layout-item-2" style="width: 25%">
                    <h4>PC Games</h4>
                    <p style="text-align: center;"><img width="102" height="102" alt="" src="images/desktop.png" class=""></p>
                </div><div class="art-layout-cell layout-item-3" style="width: 25%">
                    <h4>Playstation Games</h4>
                    <p style="text-align: center;"><img width="125" height="125" alt="ps5 console" class="art-lightbox" src="images/Playstation-5-games-console-transparent-background-png-image.png"></p>
                </div><div class="art-layout-cell layout-item-2" style="width: 25%">
                    <h4>Xbox Games</h4>
                    <p style="text-align: center;">
                        <img width="102" height="102" style="margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px;" alt="" class="art-lightbox" src="images/003e410b-3b69-4acb-8bff-bc2070d56136.png">
                    </p><p style="text-align: center;">
                    </p>
                </div><div class="art-layout-cell layout-item-3" style="width: 25%">
                    <h4>CellPhones Games</h4>
                    <p style="text-align: center;">
                        <img width="102" height="102" style="margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px;" alt="" class="art-lightbox" src="images/f1ad998f-96c7-4f7c-86ab-631dba92b0a8.png">
                    </p><p style="text-align: center;">
                    </p><p style="text-align: center;">
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="art-content-layout-wrapper layout-item-4">
        <div class="art-content-layout layout-item-1">
            <div class="art-content-layout-row">
                <div class="art-layout-cell layout-item-3" style="width: 25%">
                    <h4>Hardware</h4>
                    <p style="text-align: center;"><img width="102" height="102" alt="" src="images/harddrive.png" class=""></p>
                </div><div class="art-layout-cell layout-item-2" style="width: 25%">
                    <h4>Flash Drives</h4>
                    <p style="text-align: center;"><img width="102" height="102" alt="" src="images/usb.png" class=""></p>
                </div><div class="art-layout-cell layout-item-3" style="width: 25%">
                    <h4>Accessories</h4>
                    <p style="text-align: center;"><img width="102" height="102" alt="" src="images/mouse.png" class=""></p>
                </div><div class="art-layout-cell layout-item-2" style="width: 25%">
                    <h4>Cases</h4>
                    <p style="text-align: center;"><img width="102" height="102" alt="" src="images/tools.png" class=""></p>
                </div>
            </div>
        </div>
    </div>
    <div class="art-content-layout">
        <div class="art-content-layout-row">
            <div class="art-layout-cell layout-item-3" style="width: 100%">
                <h4 class="font-black h1 text-center mt-5" role="heading" aria-level="2" style="box-sizing: border-box; margin-top: 2.5rem; margin-bottom: 0.5rem; font-family: Montserrat, sans-serif; font-weight: 900; line-height: 1.2; color: rgb(0, 0, 0); font-size: 2.25rem; text-transform: uppercase; background-color: rgb(242, 244, 247);">FEATURED PRODUCTS &amp; OFFERS</h4><h1></h1>


                <p>
                </p><p><img width="265" height="225" alt="" class="art-lightbox" src="images/assassins-creed-valhalla-ultimate-edition.jpg"><img width="263" height="225" alt="" class="art-lightbox" src="images/DualShock_back_NFeature.jpg"><img width="265" height="225" alt="" class="art-lightbox" src="images/cyberpunk-2077.jpg"><img width="261" height="222" alt="" class="art-lightbox" src="images/Mario_35th_Feature.jpg"></p>
            </div>
        </div>
    </div>
</div>

