<!DOCTYPE html>
<html dir="ltr" lang="en-US"><head><!-- Created by Artisteer v4.3.0.60745 -->
    <meta charset="utf-8">
    <title>Home</title>
    <meta name="viewport" content="initial-scale = 1.0, maximum-scale = 1.0, user-scalable = no, width = device-width">

    <!--[if lt IE 9]><script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <link rel="stylesheet" href="style.css" media="screen">
    <!--[if lte IE 7]><link rel="stylesheet" href="style.ie7.css" media="screen" /><![endif]-->
    <link rel="stylesheet" href="style.responsive.css" media="all">


    <script src="jquery.js"></script>
    <script src="script.js"></script>
    <script src="script.responsive.js"></script>



<style>.art-content .art-postcontent-0 .layout-item-0 { margin-top: 10px;margin-bottom: 10px;  }
.art-content .art-postcontent-0 .layout-item-1 { border-spacing: 10px 0px; border-collapse: separate;  }
.art-content .art-postcontent-0 .layout-item-2 { color: #1A1A1A; background: #FDEED3; padding-right: 10px;padding-left: 10px;  }
.art-content .art-postcontent-0 .layout-item-3 { padding-right: 10px;padding-left: 10px;  }
.art-content .art-postcontent-0 .layout-item-4 { margin-top: 5px;margin-bottom: 5px;  }
.ie7 .art-post .art-layout-cell {border:none !important; padding:0 !important; }
.ie6 .art-post .art-layout-cell {border:none !important; padding:0 !important; }

</style></head>
                             <body>
                                 <div id="art-main">
                                     <nav class="art-nav">
                                         <div class="art-nav-inner">
                                             <ul class="art-hmenu"><li><a href="home.html" class="active">Home</a></li><li><a href="games">Video Games</a><ul><li><a href="video-games/playstation.html">Playstation</a></li><li><a href="video-games/pc.html">Pc</a></li><li><a href="video-games/xbox-one.html">Xbox one</a></li><li><a href="video-games/cellphone.html">Cellphone</a></li></ul></li><li><a href="account.html">Account</a></li><li><a href="contact-us.html">Contact Us</a></li><li><a href="about-us.html">About us</a></li></ul>
                                         </div>
                                     </nav>
                                     <header class="art-header">

                                         <div class="art-shapes">
                                             <div class="art-object1523580573"></div>

                                         </div>

                                         <h1 class="art-headline">
                                             <a href="/">GAME ON</a>
                                         </h1>
                                         <h2 class="art-slogan">Cheapest Games Online</h2>




                                         <div class="art-textblock art-object122893533">
                                             <form class="art-search" name="Search" action="javascript:void(0)">
                                                 <input type="text" value="">
                                                 <input type="submit" value="Search" name="search" class="art-search-button">
                                             </form>
                                         </div>


                                     </header>
                                     <div class="art-sheet clearfix">
                                         <div class="art-layout-wrapper">
                                             @RenderBody()
                                             <div class="art-content-layout">
                                                 <div class="art-content-layout-row">
                                                     <div class="art-layout-cell art-content">
                                                         <article class="art-post art-article">


                                                             <div class="art-postcontent art-postcontent-0 clearfix">
                                                                 <div class="art-content-layout-wrapper layout-item-0">
                                                                     <div class="art-content-layout layout-item-1">
                                                                         <div class="art-content-layout-row">
                                                                             <div class="art-layout-cell layout-item-2" style="width: 25%">
                                                                                 <h4>PC Games</h4>
                                                                                 <p style="text-align: center;"><img width="102" height="102" alt="" src="images/desktop.png" class=""></p>
                                                                             </div><div class="art-layout-cell layout-item-3" style="width: 25%">
                                                                                 <h4>Playstation Games</h4>
                                                                                 <p style="text-align: center;"><img width="125" height="125" alt="ps5 console" class="art-lightbox" src="images/Playstation-5-games-console-transparent-background-png-image.png"></p>
                                                                             </div><div class="art-layout-cell layout-item-2" style="width: 25%">
                                                                                 <h4>Xbox Games</h4>
                                                                                 <p style="text-align: center;">
                                                                                     <img width="102" height="102" style="margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px;" alt="" class="art-lightbox" src="images/003e410b-3b69-4acb-8bff-bc2070d56136.png">
                                                                                 </p><p style="text-align: center;">
                                                                                 </p>
                                                                             </div><div class="art-layout-cell layout-item-3" style="width: 25%">
                                                                                 <h4>CellPhones Games</h4>
                                                                                 <p style="text-align: center;">
                                                                                     <img width="102" height="102" style="margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px;" alt="" class="art-lightbox" src="images/f1ad998f-96c7-4f7c-86ab-631dba92b0a8.png">
                                                                                 </p><p style="text-align: center;">
                                                                                 </p><p style="text-align: center;">
                                                                                 </p>
                                                                             </div>
                                                                         </div>
                                                                     </div>
                                                                 </div>
                                                                 <div class="art-content-layout-wrapper layout-item-4">
                                                                     <div class="art-content-layout layout-item-1">
                                                                         <div class="art-content-layout-row">
                                                                             <div class="art-layout-cell layout-item-3" style="width: 25%">
                                                                                 <h4>Hardware</h4>
                                                                                 <p style="text-align: center;"><img width="102" height="102" alt="" src="images/harddrive.png" class=""></p>
                                                                             </div><div class="art-layout-cell layout-item-2" style="width: 25%">
                                                                                 <h4>Flash Drives</h4>
                                                                                 <p style="text-align: center;"><img width="102" height="102" alt="" src="images/usb.png" class=""></p>
                                                                             </div><div class="art-layout-cell layout-item-3" style="width: 25%">
                                                                                 <h4>Accessories</h4>
                                                                                 <p style="text-align: center;"><img width="102" height="102" alt="" src="images/mouse.png" class=""></p>
                                                                             </div><div class="art-layout-cell layout-item-2" style="width: 25%">
                                                                                 <h4>Cases</h4>
                                                                                 <p style="text-align: center;"><img width="102" height="102" alt="" src="images/tools.png" class=""></p>
                                                                             </div>
                                                                         </div>
                                                                     </div>
                                                                 </div>
                                                                 <div class="art-content-layout">
                                                                     <div class="art-content-layout-row">
                                                                         <div class="art-layout-cell layout-item-3" style="width: 100%">
                                                                             <h4 class="font-black h1 text-center mt-5" role="heading" aria-level="2" style="box-sizing: border-box; margin-top: 2.5rem; margin-bottom: 0.5rem; font-family: Montserrat, sans-serif; font-weight: 900; line-height: 1.2; color: rgb(0, 0, 0); font-size: 2.25rem; text-transform: uppercase; background-color: rgb(242, 244, 247);">FEATURED PRODUCTS &amp; OFFERS</h4><h1></h1>


                                                                             <p>
                                                                             </p><p><img width="265" height="225" alt="" class="art-lightbox" src="images/assassins-creed-valhalla-ultimate-edition.jpg"><img width="263" height="225" alt="" class="art-lightbox" src="images/DualShock_back_NFeature.jpg"><img width="265" height="225" alt="" class="art-lightbox" src="images/cyberpunk-2077.jpg"><img width="261" height="222" alt="" class="art-lightbox" src="images/Mario_35th_Feature.jpg"></p>
                                                                         </div>
                                                                     </div>
                                                                 </div>
                                                             </div>


                                                         </article>
                                                     </div>
                                                     <div class="art-layout-cell art-sidebar1">
                                                         <div class="art-block clearfix">
                                                             <div class="art-blockcontent">
                                                                 <p>&nbsp;&nbsp;<img width="64" height="64" alt="" src="images/rss.png" class="">&nbsp;&nbsp;&nbsp;<img width="64" height="64" alt="" src="images/facebook.png" class=""></p>
                                                                 <br>
                                                                 <p>&nbsp;&nbsp;<img width="64" height="64" alt="" src="images/twitter.png" class="">&nbsp;&nbsp;&nbsp;<img width="64" height="64" alt="" src="images/Flickr.png" class=""></p>
                                                                 <br>
                                                                 <p>&nbsp;&nbsp;<img width="64" height="64" alt="" src="images/youtube.png" class="">&nbsp;&nbsp;&nbsp;<img width="64" height="64" alt="" src="images/Technorati.png" class=""></p>
                                                             </div>
                                                         </div><div class="art-block clearfix">
                                                             <div class="art-blockcontent">
                                                                 <p>Follow us on social media</p>
                                                                 <p><a href="#">admin@gameon.com</a></p>
                                                             </div>
                                                         </div>
                                                     </div>
                                                 </div>
                                             </div>
                                         </div>
                                     </div>
                                     <footer class="art-footer">
                                         <div class="art-footer-inner">
                                             <p>Copyright © 2011-2020. All Rights Reserved.</p>
                                             <br>
                                             <br>
                                             <p class="art-page-footer">
                                                 <span id="art-footnote-links"><a href="http://www.artisteer.com/" target="_blank">Web Template</a> created with Artisteer.</span>
                                             </p>
                                         </div>
                                     </footer>

                                 </div>

                                 @RenderSection("Scripts", required: false)
                             </body></html>